<div id="events">
  <% @guidelines.each do |guideline| %>
    <% list = guideline.text.strip.split("\n")%>

    <div id="guidelist">

      <h2><%= list[0] %></h2>
      <h3><%= list[2] %></h3>
        <h2><%= list[4] %></h2>
        <ul>
          <li><%= list[7] %></li>
          <li><%= list[8] %></li>
        </ul>

      <h3><%= list[11] %></h3>
        <h2><%= list[13] %></h2>
        <ul>
          <li><%= list[16] %></li>
          <li><%= list[17] %></li>
          <li><%= list[18] %></li>
          <li><%= list[19] %></li>
          <li><%= list[20] %></li>
        </ul>
        <p><%= list[23] %></p>

      <h3><%= list[25] %></h3>
       <h2><%= list[27] %></h2>
        <p><%= list[29]+list[30]+list[31]%></p>
         <ul>
           <li><%= list[34] %></li>
           <li><%= list[35] %></li>
         </ul>
        <p><%= list[38] %></p>
         <ul>
           <li><%= list[41] %></li>
           <li><%= list[42] %></li>
         </ul>
        <p><%= list[45] %></p>
        <p><%= list[46] %></p>
        <p><%= list[48] %></p>

      <h3><%= list[50] %></h3>
       <h2><%= list[52] %></h2>

      <h3><%= list[54] %></h3>
       <h2><%= list[56] %></h2>


    </div>
  <% end %>
</div>
