<%if @current_user.nil?%>
<h2>Please <%= link_to 'Sign in', login_path %></h2>
<% elsif @current_user.present?%>
    <p id="notice"><%= notice %></p>
    <h1>My Family</h1>
        <% if @families.present? %>
              <table class = "table">
                <thead>

                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @families.each do |family| %>
                    <tr>
                      <td><%= family.name %></td>
                      <td><%= family.address %></td>
                      <!-- <td><%= link_to 'Show', family %></td> -->
                      <td><%= link_to 'Edit', edit_family_path(family) %></td>
                      <!-- <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                    </tr>
                  <% end %>
                </tbody>
              </table>
        <% else %>
          <h4>Please <%= link_to 'click here',edit_user_path(@current_user.id) %> to join/create a family</h4>
        <% end %>

    <table class = "table familylayout">
      <tr>
        <td><h3>Family Members</h3></td>
      </tr>
      <% @family_user.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
      <% end %>
    </table>
    <br>



    <!-- Family Members Mealplans-->
    <h3>Meal history of Family Members</h3>
    <p id="notice"><%= notice %></p>
    <table id="familymealplan" class = "table table-striped">
        <tbody>
          <% @mealplans_family.order(:user_id).each do |mealplan1| %>
            <tr class="date-<%= mealplan1.date %>">
              <td><%= mealplan1.user.name %></td>
              <td><%= mealplan1.date %></td>
              <td><%= mealplan1.mealtype %></td>
              <td><%= mealplan1.veg %></td>
              <td><%= mealplan1.fruit %></td>
              <td><%= mealplan1.grain %></td>
              <td><%= mealplan1.meat %></td>
              <td><%= mealplan1.milk %></td>
              <td><%= mealplan1.additional_serve %></td>
              <!-- <td><%= link_to 'View Graph', mealplanshowbydate_path(mealplan1.date)%></td> -->
          <% end %>
        </tbody>
    </table>

<% end %>
