<table class ="table layout" align = "center">
  <p id="notice"><%= notice %></p>

  <tr>
  <td>Name</td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td>Usercategory</td>
    <td><%= @user.usercategory.category %></td>
  </tr>
  <tr>
    <td>Date of birth</td>
    <td><%= @user.dob %></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Family</td>
    <td><%= @user.family.name%></td>
  </tr>

  <tr><td colspan = "2"><%= link_to 'Edit', edit_user_path(@user),:class => 'badge badge-warning graph' %></td></tr>
  <!-- <%= link_to 'Back', users_path %> -->

</table>
