<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>Usercategory:</strong>
  <%= @user.usercategory.category %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Family:</strong>
  <%= @user.family.name%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<!-- <%= link_to 'Back', users_path %> -->
