<%if @current_user.nil?%>

<h2>Please <%= link_to 'Sign in', login_path %></h2>

<% elsif @current_user.present?%>

<p id="notice"><%= notice %></p>

<h1>Mealplan of the day</h1>
<%= form_for :mealplan, :url => update_all_mealplans_path, :html => { :method => :put } do %>

<table class="table table-hover">
  <thead>
    <% @servingguide.each do |servingguide| %>
        <tr>
          <td colspan = "2">Vegetables & legumes/beans</td>
          <td colspan = "2">Fruit</td>
          <td colspan = "2">Grain (cereal) foods, mostly wholegrain</td>
          <td colspan = "2">Lean meat and poultry, fish, eggs, nuts and seeds, and legumes/beans</td>
          <td colspan = "2">Milk, yoghurt, cheese and/or alternatives (mostly reduced fat)</td>
          <td colspan = "2">Approx. number of additional serves from the five food groups or discretionary choices</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td colspan = "2"><%= servingguide.veg %></td>
          <td id="Fruit" colspan = "2"><%= servingguide.fruit %></td>
          <td id="Grain" colspan = "2"><%= servingguide.grain %></td>
          <td id="Meat" colspan = "2"><%= servingguide.meat %></td>
          <td id="Milk" colspan = "2"><%= servingguide.milk %></td>
          <td id="AddlServe" colspan = "2"><%= servingguide.additional_serve %></td>
        </tr>
      <% end %>

    <tr>
      <th>Date</th>
      <th>Mealtype</th>
      <th>Veg</th>
      <th>Fruit</th>
      <th>Grain</th>
      <th>Meat</th>
      <th>Milk</th>
      <th>Additional serve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mealplans.each do |mealplan| %>
      <%= fields_for "mealplan[]", mealplan do |mealplan_fields| %>

        <tr>
          <td><%= mealplan.date %></td>
          <td><%= mealplan.mealtype %></td>
          <td><%= mealplan_fields.text_field :veg ,size: 3%></td>
          <td><%= mealplan_fields.text_field :fruit,size: 3 %></td>
          <td><%= mealplan_fields.text_field :grain,size: 3%></td>
          <td><%= mealplan_fields.text_field :meat,size: 3 %></td>
          <td><%= mealplan_fields.text_field :milk,size: 3%></td>
          <td><%= mealplan_fields.text_field :additional_serve,size: 3 %></td>
          <!-- <td><%= link_to 'Show', mealplan %></td>
          <td><%= link_to 'Edit', edit_mealplan_path(mealplan) %></td>
          <td><%= link_to 'Destroy', mealplan, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
<div class="actions">
    <%= submit_tag %>
  </div>
  <% end %>
<br>

<% end %>
