<%if @current_user.nil?%>

<h2>Please <%= link_to 'Sign in', login_path %></h2>

<% elsif @current_user.present?%>

<p id="notice"><%= notice %></p>

<h1>Mealplan of the day</h1>
<%= form_for :mealplan, :url => update_all_mealplans_path, :html => { :method => :put } do %>

<table class="table">
  <thead>
    <% @servingguide.each do |servingguide| %>
        <tr>
          <td></td>
          <td></td>
          <td>Vegetables & legumes/beans</td>
          <td>Fruit</td>
          <td>Grain (cereal) foods, mostly wholegrain</td>
          <td>Lean meat and poultry, fish, eggs, nuts and seeds, and legumes/beans</td>
          <td>Milk, yoghurt, cheese and/or alternatives (mostly reduced fat)</td>
          <td>Approx. number of additional serves from the five food groups or discretionary choices</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= servingguide.veg %></td>
          <td id="Fruit"><%= servingguide.fruit %></td>
          <td id="Grain"><%= servingguide.grain %></td>
          <td id="Meat"><%= servingguide.meat %></td>
          <td id="Milk"><%= servingguide.milk %></td>
          <td id="AddlServe"><%= servingguide.additional_serve %></td>
        </tr>
      <% end %>
      <tr>
        <th colspan = "8">Enter your mealplan of the day</th>
      </tr>
      <tr>
        <th>Date</th>
        <th>Mealtype</th>
        <th>Veg</th>
        <th>Fruit</th>
        <th>Grain</th>
        <th>Meat</th>
        <th>Milk</th>
        <th>Additional serve</th>
        <th colspan="3"></th>
      </tr>
    <!-- <tr>
      <th>Date</th>
      <th>Mealtype</th>
      <th>Veg</th>
      <th>Fruit</th>
      <th>Grain</th>
      <th>Meat</th>
      <th>Milk</th>
      <th>Additional serve</th>
      <th colspan="3"></th>
    </tr> -->
  </thead>

  <tbody>
    <% @mealplans.order(:created_at).each do |mealplan| %>
      <%= fields_for "mealplan[]", mealplan do |mealplan_fields| %>

        <!-- <tr>
          <td><%= mealplan.date %></td>
          <td><%= mealplan.mealtype %></td>
          <td><%= mealplan_fields.text_field :veg ,size: 3%></td>
          <td><%= mealplan_fields.text_field :fruit,size: 3 %></td>
          <td><%= mealplan_fields.text_field :grain,size: 3%></td>
          <td><%= mealplan_fields.text_field :meat,size: 3 %></td>
          <td><%= mealplan_fields.text_field :milk,size: 3%></td>
          <td><%= mealplan_fields.text_field :additional_serve,size: 3 %></td>
        </tr> -->
        <tr>
          <td><%= mealplan.date %></td>
          <td><%= mealplan.mealtype %></td>
          <td><%= mealplan_fields.text_field :veg ,size: 3%></td>
          <td><%= mealplan_fields.text_field :fruit,size: 3 %></td>
          <td><%= mealplan_fields.text_field :grain,size: 3%></td>
          <td><%= mealplan_fields.text_field :meat,size: 3 %></td>
          <td><%= mealplan_fields.text_field :milk,size: 3%></td>
          <td><%= mealplan_fields.text_field :additional_serve,size: 3 %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
<div class="actions">
    <%= submit_tag %>
  </div>
  <% end %>
<br>

<% end %>
