<%if @current_user.nil?%>

<h2>Please <%= link_to 'Sign in', login_path %></h2>

<% elsif @current_user.present?%>

<p id="notice"><%= notice %></p>

<h1>Meal intake of the day</h1>
<%= form_for :mealplan, :url => update_all_mealplans_path, :html => { :method => :put } do %>

<table class="table table-bordered">
  <thead>
    <% @servingguide.each do |servingguide| %>
        <tr>
          <th width = '10%'>Date</th>
          <th>Mealtype</th>
          <th>Vegetables & legumes/beans</th>
          <th>Fruit</th>
          <th>Grain (cereal) foods, mostly wholegrain</th>
          <th>Lean meat and poultry, fish, eggs, nuts and seeds, and legumes/beans</th>
          <th>Milk, yoghurt, cheese and/or alternatives (mostly reduced fat)</th>
          <th>Approx. number of additional serves from the five food groups or discretionary choices</th>
          <th colspan ="1"></th>
        </tr>

        <tr>
          <td colspan = "2">Recommended daily intake</td>

          <td><%= servingguide.veg %></td>
          <td id="Fruit"><%= servingguide.fruit %></td>
          <td id="Grain"><%= servingguide.grain %></td>
          <td id="Meat"><%= servingguide.meat %></td>
          <td id="Milk"><%= servingguide.milk %></td>
          <td id="AddlServe"><%= servingguide.additional_serve %></td>
          <td colspan = "1"></td>
        </tr>
      <% end %>
      <tr>
        <th colspan = "9">Enter your meal intake of the day</th>
      </tr>
  </thead>

  <tbody>
    <% @mealplans.order(:created_at).each do |mealplan| %>
      <%= fields_for "mealplan[]", mealplan do |mealplan_fields| %>
        <tr>
          <td><%= mealplan.date %></td>
          <td><%= mealplan.mealtype %></td>
          <td><%= mealplan_fields.text_field :veg ,size: 3%></td>
          <td><%= mealplan_fields.text_field :fruit,size: 3 %></td>
          <td><%= mealplan_fields.text_field :grain,size: 3%></td>
          <td><%= mealplan_fields.text_field :meat,size: 3 %></td>
          <td><%= mealplan_fields.text_field :milk,size: 3%></td>
          <td><%= mealplan_fields.text_field :additional_serve,size: 3 %></td>
          <td colspan = "3"></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
<div class="actions">
    <%= submit_tag %>
  </div>
  <% end %>
<br>

<% end %>
