

<!-- <table id="mealchart">
  <thead>

         <tr>
             <th></th>
             <th>Recommended</th>
             <th>Eaten</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <th>Vegetables</th>
             <td id = "ServingVeg"><%= @servingguide.first.veg %></td>
             <td id = "GraphVeg"><%= @mealplans.sum(:veg) %></td>
         </tr>
         <tr>
             <th>Fruit</th>
             <td><%= @servingguide.first.fruit %></td>
             <td id = "GraphFruit"><%= @mealplans.sum(:fruit) %></td>
         </tr>
         <tr>
             <th>Grain</th>
             <td><%= @servingguide.first.grain %></td>
             <td id = "GraphGrain"><%= @mealplans.sum(:grain) %></td>
         </tr>
         <tr>
             <th>Meat</th>
             <td><%= @servingguide.first.meat %></td>
             <td id = "GraphMeat"><%= @mealplans.sum(:meat) %></td>
         </tr>
         <tr>
             <th>Milk</th>
             <td><%= @servingguide.first.milk %></td>
             <td id = "GraphMilk"><%= @mealplans.sum(:milk) %></td>
         </tr>
         <tr>
             <th>AddlServe</th>
             <td><%= @servingguide.first.additional_serve %></td>
             <td id = "GraphAddlServe"><%= @mealplans.sum(:additional_serve) %></td>
         </tr>
     </tbody>

  </table>
<div id="container2" style="width:100%; height:400px;"></div> -->
