<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
 -->


<%if @current_user.nil?%>

<h2>Please <%= link_to 'Sign in', login_path,:class => 'badge badge-warning' %></h2>

<% elsif @current_user.present?%>

<p id="notice"><%= notice %></p>

<h2><%= link_to "Today's meal plan", new_mealplan_path,:class => 'badge badge-warning' %></h2>

<div id="calendar">
</div>
<p></p>
<p></p>
<table id="mealplans" class = "table table-bordered">
  <thead>
    <% @servingguide.each do |servingguide| %>
        <tr>
          <th colspan = "2" rowspan = "2">Recommended daily serving size</th>
          <td>Veg</td>
          <td>Fruit</td>
          <td>Grain</td>
          <td>Meat</td>
          <td>Milk</td>
          <td colspan = "2">AddlServe</td>
          <!-- <td colspan = "1"></td> -->
        </tr>
        <tr>
          <td><%= servingguide.veg %></td>
          <td id="Fruit"><%= servingguide.fruit %></td>
          <td id="Grain"><%= servingguide.grain %></td>
          <td id="Meat"><%= servingguide.meat %></td>
          <td id="Milk"><%= servingguide.milk %></td>
          <td id="AddlServe" colspan = "2"><%= servingguide.additional_serve %></td>
          <!-- <td></td> -->
        </tr>
      <% end %>
        <tr>
          <th>Date</th>
          <th>Mealtype</th>
          <th>Veg</th>
          <th>Fruit</th>
          <th>Grain</th>
          <th>Meat</th>
          <th>Milk</th>
          <th>Additional serve</th>
          <th>Chart</th>
        </tr>
    </thead>
    <tbody>
      <% @mealplan_user.each do |mealplan| %>
        <tr class="date-<%= mealplan.date %>">
          <td><%= mealplan.date %></td>
          <td><%= mealplan.mealtype %></td>
          <td><%= mealplan.veg %></td>
          <td><%= mealplan.fruit %></td>
          <td><%= mealplan.grain %></td>
          <td><%= mealplan.meat %></td>
          <td><%= mealplan.milk %></td>
          <td><%= mealplan.additional_serve %></td>
          <td><%= link_to 'View Graph', mealplanshowbydate_path(mealplan.date),:class => 'badge badge-warning graph'%></td>
        </tr>
      <% end %>

    </tbody>
</table>
<br>
<% end %>
