<p id="notice"><%= notice %></p>

<h1>Serving Guides</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Usercategory</th>
      <th>Minimum Age</th>
      <th>Vegetables & legumes/beans</th>
      <th>Fruit</th>
      <th>Grain (cereal) foods, mostly wholegrain</th>
      <th>Lean meat and poultry, fish, eggs, nuts and seeds, and legumes/beans</th>
      <th>Milk, yoghurt, cheese and/or alternatives (mostly reduced fat)</th>
      <th>Approx. number of additional serves from the five food groups or discretionary choices</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servingguides.each do |servingguide| %>
      <tr>

        <td><%= servingguide.usercategory.try(:category) %></td>
        <td><%= servingguide.age %></td>
        <td><%= servingguide.veg %></td>
        <td><%= servingguide.fruit %></td>
        <td><%= servingguide.grain %></td>
        <td><%= servingguide.meat %></td>
        <td><%= servingguide.milk %></td>
        <td><%= servingguide.additional_serve %></td>
      </tr>

        <% if @current_user.present? && @current_user.user_type == 'Admin' %>
          <td><%= link_to 'Show', servingguide %></td>
          <td><%= link_to 'Edit', edit_servingguide_path(servingguide) %></td>
          <td><%= link_to 'Destroy', servingguide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
        <td colspan = "9">* Includes an allowance for unsaturated spreads or oils, nuts or seeds (4 serves [28-40g] per day for men less than 70 years of age; 2 serves [14-20g] per day for women and older men.)</td>
    </tr>
  </tbody>
</table>

<br>

<%if @current_user.present? && @current_user.user_type == 'Admin'%>

<%= link_to 'New Servingguide', new_servingguide_path %>
<% end %>
